| Задание 44 |
| --- |
| В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Надо это сделать без get_dummies. И надо сделать это без циклов.

import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI'lst})
data.head() |

In [14]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data.head()

  whoAmI
0  human
1  robot
2  human
3  robot
4  human

In [15]:
# Решение без использованиея get_dummies и циклов

one_hot_encoded_without_get_dummies = pd.DataFrame(columns = ['whoAmI_human',	'whoAmI_robot'])
one_hot_encoded_without_get_dummies['whoAmI_human'] = data['whoAmI'] == 'human'
one_hot_encoded_without_get_dummies['whoAmI_robot'] = data['whoAmI'] == 'robot'

In [16]:
one_hot_encoded_without_get_dummies.head()

   whoAmI_human  whoAmI_robot
0          True         False
1         False          True
2          True         False
3         False          True
4          True         False