| Задание 44 |
| --- |
| В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Надо это сделать без get_dummies. И надо сделать это без циклов.

import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI'lst})
data.head() |

In [1]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data.head()

  whoAmI
0  human
1  human
2  robot
3  human
4  human

In [2]:
# Решение без использованиея get_dummies и циклов

one_hot_encoded_without_get_dummies = pd.DataFrame(columns = ['whoAmI_human',	'whoAmI_robot'])
one_hot_encoded_without_get_dummies['whoAmI_human'] = (data['whoAmI'] == 'human').astype(int)
one_hot_encoded_without_get_dummies['whoAmI_robot'] = (data['whoAmI'] == 'robot').astype(int)

In [3]:
one_hot_encoded_without_get_dummies.head()

   whoAmI_human  whoAmI_robot
0             1             0
1             1             0
2             0             1
3             1             0
4             1             0

In [7]:
#Решение с использованием библиотеки sklearn
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder = OneHotEncoder(sparse_output=False)
one_hot_encoded = one_hot_encoder.fit_transform(data[['whoAmI']])
one_hot_encoded_df = pd.DataFrame(one_hot_encoded, columns=one_hot_encoder.get_feature_names_out(['whoAmI']))
one_hot_encoded_df = one_hot_encoded_df.astype(int)

In [8]:
one_hot_encoded_df.head()

   whoAmI_human  whoAmI_robot
0             1             0
1             1             0
2             0             1
3             1             0
4             1             0