| Задание 44 |
| --- |
| В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI'lst})
data.head() |

In [19]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data.head()

  whoAmI
0  human
1  robot
2  robot
3  human
4  human

In [20]:
# Решение с использованием get_dummies

one_hot_encoded = pd.get_dummies(data, columns=['whoAmI'])
one_hot_encoded.head()

   whoAmI_human  whoAmI_robot
0          True         False
1         False          True
2         False          True
3          True         False
4          True         False

In [21]:
# Решение без использованиея get_dummies

who_am_i_set = set(data['whoAmI'])
one_hot_encoded_without_get_mummies = pd.DataFrame()
for c in who_am_i_set:
    one_hot_encoded_without_get_mummies['whoAmI' + '_' + c] = c == data['whoAmI']

In [22]:
one_hot_encoded_without_get_mummies.head()

   whoAmI_human  whoAmI_robot
0          True         False
1         False          True
2         False          True
3          True         False
4          True         False